@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Cormorant+Garamond&family=Roboto&display=swap');
*{
    margin:0px;
    padding:0px;
};
nav{
    background-color: darkblue;
}
.logo{
    width:10%;
    height:10vh;
    border:2px solid green
}
.carousel-img{
    height:70vh;
}
.card-image{
    width:100%;
    height:30vh;
}
svg{
    width:50px;
    height:30px;
    box-shadow: 0 2px 2px 0 rgba(0, 12, 13, 0.6);
border-radius: 20%;
}
.card{
    box-shadow: 0 2px 2px 0 rgba(0, 12, 13, 0.6);
    border-color:white;
    
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    transition: box-shadow 0.6s ease
}
.card-header{
    font-size:2em;
    font-weight: bolder;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: white;
    font-family: 'Cormorant Garamond', serif;
}
p{
  font-family: 'Cormorant Garamond',serif; 
   font-size:18px; 
}

.slider-p{
    font-family: 'Cormorant Garamond',serif; 
   font-size:18px;
   font-weight: 600;
   color:#1c2331;
}
.about-Us{
 font-family: 'Cormorant Garamond',serif; 
   font-size:18px;
   font-weight: 600;
   /* color:#1c2331;    */
}
h1{
  font-family: 'Cormorant Garamond',serif; 
   font-size:5em;
   
   font-weight: bolder;
   color:#1c2331;   
}  

.card-body{
    font-size:18px;
    font-weight: bold;
    /* font-weight:500; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Cormorant Garamond', serif;
}
h5{
    font-weight:700;
    font-size:1.3em;
    font-family: 'Cormorant Garamond', serif;

}
.card{
    box-shadow: 0 2px 5px 0 rgba(239, 254, 255, 0.6); 

}
.card-footer{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 20px;
}
.btn {
    background-color: #1c2331;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}
a{
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}
footer{
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
}
.main{
  background-image: url('../images/images\ \(3\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 5px 0 #1c2331;
}
.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=fff');
  }
  .card-transparent{
    background-color:#fffa;
  }
  